name: Validation Assets
on:
  pull_request:
    branches:
      - main
      - developer
jobs:
  validation_assets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'
      - name: Install dependencies
        run: flutter pub get
      - name: Generate Asset Files
        uses: ./.github/actions/generate-assets
      - name: Validate Asset Files
        uses: ./.github/actions/validate-assets
