name: Validation Localization
on:
  pull_request:
    branches:
      - main
jobs:
  validation_localization:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'
      - name: Install dependencies
        run: flutter pub get
      - name: Generate Localization Files
        uses: ./.github/actions/generate-localization
      - name: Validate Localization Files
        uses: ./.github/actions/validate-localization
